* {
    margin: 0;
}

@keyframes routate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

html, body {

    --black: hsl(240, 6%, 13%);
    --gray: hsl(240, 9%, 89%);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url(images/background.png) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}

.content {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--gray);

}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px; 
    z-index: 1;
    animation: routate 10s linear infinite;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    position: relative;
    z-index: 1;
}

a {
    color: var(--gray);
    text-decoration: none;


    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;

    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

p {
    margin-top: 2rem;
    position: relative;
    z-index: 1;
}

ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 0.5rem;

    justify-content: center;
}

#socialLinks img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

 #socialLinks img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#faixa, #quebra, #mask, #retangle{
    display: none;
}

@media screen and (min-width: 481px){
    #faixa {
        display: flex;
        width: 4rem;
        height: 9.8rem;
        position: relative;
        z-index: 2;
    }

    #quebra {
        display: flex;
        width: 5rem;
        height: 0.5rem;
        position: absolute;
        right: -0.5rem;
        z-index: 2;
    }

    #mask {
        display: flex;
        width: 22.375rem;
        height: 33.75rem;
        position: absolute;
        top: 7rem;
        right: -9rem;
        z-index: 1;
    }

    #retangle {
        display: flex;
        width: 22.375rem;
        height: 33.75rem;
        position: absolute;
        top: 7.1rem;
        right: -9rem;
        z-index: 0;
    }

    .card {
        margin: 6rem;
        position: absolute;
        top: -6rem;
        z-index: -0;
    }

    main {
        background: url(images/desktop.png)no-repeat center/cover;
        background-color: #121214;
    }
    
    ul {
        margin-top: 2rem;
    }
}